
.site-footer {
  background-color: rgb(39, 134, 44, 0.7);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: whitesmoke;
  position: relative;
  bottom: 0;
   width: 100%;
       
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer span {
  color: rgb(58, 54, 54);
  font-weight: bold;
  font-size: 15px;
}
.site-footer a:hover {
  color: white;
  text-decoration: none;
}

.footer-links {
  margin-left: -10%;
  
}

.footer-links .ref {
  display: block;
  list-style: none;
  margin-left: 7%;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: rgb(58, 54, 54);
  text-decoration: none;
}

.footer-links.inline .ref {
  display: inline-block;
}
.ref:before{
  content:'';
}
.bar,
.search {
  border: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 8px;
  margin-top: 15px;
  margin-left: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.bar {
  width: 50%;
}
.search {
  background-color: rgb(92, 83, 83);
  color: white;
}
.search:hover {
  background-color: rgb(112, 223, 112);
  color: rgb(92, 83, 83);
}

.copyright-text {
  margin-left: 300px;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text {
    text-align: center;
  }
}
.copyright-text a {
  text-decoration: none;
  color: rgb(58, 54, 54);
  font-weight: bold;
}
