
.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #fde791;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 350px;
    background: #a7b8b9;
    border-radius: 10px;
}
i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

.custom-select {
    position: relative;
    max-width: 400px;
    min-width: 180px;
    margin: 0 auto;
    border: 1px solid #3C1C78;
    background-color: #a7b8b9;
    margin-left: 30px;
    border-radius:10px

  }
  .custom-select select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    color: #714BB9;
  }
  .custom-select:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: "∨";
    text-align: center;
    color: #714BB9;
    font-size: 24px;
    border-left: 1px solid #3C1C78;
    z-index: -1;
  }


.submit{
    margin-left: 30px;
    border: 1px solid #3C1C78;
    background-color: #a7b8b9;
    color:white;
}


.title-recipe{
  display: inline-block;
  text-align: center;
  padding-left: 40%;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}














